<h4>{{ _('Webcam Tab') }}</h4>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.webcamtab.keycontrolEnabled"> {{ _('Enable keyboard control when tab is active.') }}
                </label>
            </div>
        </div>
    </form>
</div>